{% extends 'layouts/_base.twig' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      	{% include 'partials/_header.twig' %}
      	<p>Website: <a href="http://www.lmbrjck.com">http://www.lmbrjck.com</a></p>
      </div>
    </div>
  </div>
{% endblock %}